Key usage for HSS/LMS more restrictive than RFC8708

Follow and eventually take up on the key usage definitions in the draft in comparison to Section 4 in RFC8708.